<% include ../partials/header %>

<div class="row">
    <div class="col-md-4">
        <h1><%= user.firstName + " " + user.lastName %></h1>
        <div class="thumbnail">
             <img src="<%= user.avatar %>" alt="User Profile Image">
             <div class="caption"><a href="mailto: <%= user.email %>"><%= user.email %></a></div>
        </div>
        <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
            <a class="btn btn-primary" href="/users/<%= user._id %>/edit">Edit Profile <i class="fas fa-edit"></i></a>
        <% } %>
        <p style="margin-top: 5px;"><%= user.bio %></p>
    </div>
    <div class="col-md-8">
        <h3><%= user.username %>'s Campgrounds:</h3>
        <ul>
            <% campgrounds.forEach(function(campground){ %>
            <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
            <% }) %>
        </ul>
    </div>
</div>

<% include ../partials/footer %>
